.git
node_modules
dist
.env
.DS_Store


# Sensitiv konfig
config.json

# Python
.venv/
__pycache__/
*.pyc
*.pyo

*.exe

# Django / server
server/data/
server/staticfiles/*
!server/staticfiles/.gitkeep
server/public/
*.db
*.db-shm
*.db-wal

#go
test.go

# Frontend build
client-react/dist/